
.ForgotPassword-wrap{
    .resetpage-description{
        padding-bottom: 20px;
        font-size: 15px;
        font-weight: 400;
    }
    .form-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        input{
            padding: 10px ;
        }
        .user-info-box{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            p{
                margin: 0;
            }
            img{
                height: 80px;
            }
        }
        
    }


}